
  .example-container {
    display: flex;
    height: 100%;
  }
  
  .example-sidenav {
    width: 500px;
    height: 100%;
    position: fixed;
    z-index: 1;
  }
  
  .example-card {
    margin: 8px;
    width: calc(100% - 16px);
  }
  