
<mat-form-field>
        <mat-label>Select stocks:</mat-label>
        <mat-select [(ngModel)]="selectedStock" (ngModelChange)="updateChartData()" >
        <mat-option *ngFor="let stock of stocks; let i =index" [value]="stock.symbol">
            <!-- {{stock.name}} -->
            <mat-checkbox [checked]="selected === i" (change)="onChange(stock); selected = i"> {{stock.name}}</mat-checkbox>
        </mat-option>
        </mat-select>
    </mat-form-field>



    <input (click)="addStock()" placeholder="test">
    <mat-card>
        <div id="chart-container"></div>
    </mat-card>
    